.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body>div {
  align-self: center;
 }
.container {
  height: 500px;
  width: 800px;
  background-image:url(city.png);
  background-size: cover;
  margin: auto;
  border-radius:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(224, 222, 222);
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}
.container>div {
  align-self: center;
}
.form {
  background-image: linear-gradient(MidnightBlue , MediumVioletRed);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 114%;
}
.forming {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 50px;
  margin-bottom: 20px;
}
.user-icon {
  display: flex;
  flex-direction: row;
  margin:20px;
}
.username {
  color: #fff;
  background-color: inherit;
  border:none;
  border-bottom:1px solid white;
  padding: 5px;
  outline:none; 
}
.pass-icon {
  display:flex;
  flex-direction: row;
  margin: 20px;
}

.password {
  color: #fff;
  background-color: inherit;
  border:none;
  border-bottom:1px solid white;
  padding: 5px;
  outline:none; 
}
.material-icons {
  color: azure;
  font-size: 1.5em;
  margin-top: 10px;
}
.rememberme {
  color: #fff;
 padding: 10px 10px 20px;
  margin: 11px;
}
.forget-pass {
  display: flex;
  justify-content:center; 
}
.logindiv {
 display: flex;
 justify-content: center;
  align-self: center;
}
.login {
 font-weight: bold;
 outline: none;
 color: blueviolet;
 cursor: pointer;
 width: 80px;
 font-size: 1em;
 font-family:Arial, Helvetica, sans-serif;
 background-color: #fff;
 border: none;
 padding: 10px;
 border-radius: 20px;
}
.errors {
  font-size: 0.75em;
  color: coral;
  font-weight: bold;
}
.login:hover {background-color: inherit ; color:#fff}
.no-account {
  font-size: 0.75em;
  font-family:Arial, Helvetica, serif;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.sign-up {
  text-decoration: none;
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
}

.email-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:4%; 
}
.email {
  background-color: inherit;
  outline: none;
  border:none;
  color: #fff;
  border-bottom:1px solid white;
}
.signing {
  text-align: center;
  cursor: pointer;
  width: 75px;
  font-size: 1em;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #fff;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 15%;
  color: blueviolet;
 font-weight: bold;
}
.signing:hover {background-color: inherit;color:#fff}
.chat-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chat {
  height: 98vh;
  width: 100%;
  background-color:#fff;
  display: flex;
  justify-content: space-between;
  padding: 4px 0px 0px ;
}
.conversation-list {
  background-image: linear-gradient(MidnightBlue , MediumVioletRed);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  border-right: solid #fff;
  overflow: auto;
}
.searching {
  background-color: #ccd;
  border-radius: 5vh;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 3px;
  width: 90%;

}
.search-input{
  border: none;
  padding: 10px;
  font-size: 1em;
  background-color: inherit;
}
.search-done {
 color: #ccd;
}
.chat-screen {
  background-color: #ccd;
  background-size:cover;
  flex-grow: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 1%;
}
.conversation-bar {
  background-color:#fff;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5vh;
}
.conversation-bar img {
  width: 48px;
}
.conversation-bar>div {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.name-date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5%;
}
.header {
  background-color: rgb(107, 84, 129);
  border-bottom: 1px solid #888888;
  flex-grow: 1;
  height: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: bisque;
  border: 1px solid rgb(107, 84, 129);
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
} 
.bubble {
  display: flex;
  flex-direction: column;
  flex-grow: 100;
}
.typing {
  background-color: #fff;
  flex-grow: 1;
  border-top: 1px solid #888888;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end
  }
.type{
  width: 90%;
  border: none;
  margin-right: 1% ;
  outline:none; 
  font-size: 1em;
}
.typing img{
  width: 4%;
  margin-right: 3%;
}
.send {
  align-self: center;
  cursor: pointer;
}
.reciever {
  align-self: flex-start;
  background-color:  #78177b;  
  padding: 5px;
  color: #fff;
  margin: 2px 2px 0px 0px;
  border-radius: 10px 10px 10px 1px;
}
.sender {
  align-self: flex-end;
  color: #fff;
  background-color: #78177b;
  padding: 5px;
  margin: 15px 0px 2px 2px;
  border-radius: 10px 10px 1px 10px;
}