.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body>div {
  align-self: center;
 }
.container {
  height: 500px;
  width: 800px;
  background-image:url(city.png);
  background-size: cover;
  margin: auto;
  border-radius:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container>div {
  align-self: center;
}
.form {
  background-color:MediumPurple;
  background-image: linear-gradient(MidnightBlue , MediumVioletRed);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 114%;
}
.forming {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 50px;
  margin-bottom: 20px;
}
.user-icon {
  display: flex;
  flex-direction: row;
  margin:20px;
}
.username {
  background-color: inherit;
  border:none;
  border-bottom:1px solid white;
  padding: 5px;
}
.pass-icon {
  display:flex;
  flex-direction: row;
  margin: 20px;
}

.password {
  background-color: inherit;
  border:none;
  border-bottom:1px solid white;
  padding: 5px;
}
.material-icons {
  color: azure;
  font-size: 1.5em;
  margin-top: 10px;
}
.rememberme {
  color: #fff;
  margin: 5px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 10px 10px 20px;
  margin: 11px;
}
.forget-pass {
  display: flex;
  justify-content:center; 
}
.logindiv {
 display: flex;
 justify-content: center;
  align-self: center;
}
.login {
 text-align: center;
  width: 60px;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;

  background-color: #fff;
  padding: 10px;
  border-radius: 20px;

}
.no-account {
  font-size: 0.75em;
  font-family:Arial, Helvetica, serif;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.sign-up {
  text-decoration: none;
  color: #fff;
}

.email-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:4%; 
}
.email {
  background-color: inherit;
  border:none;
  border-bottom:1px solid white;
}
.signing {
  text-align: center;
  width: 60px;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  margin: 15%;
}
.chat-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chat {
  height: 100vh;
  width: 100%;
  background-color:#fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.conversation-list {
  background-color: bisque;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid blueviolet;
    border-radius: 1%;
    border-right:none;
}
.chat-screen {
  background-image:url(city.png);
  background-size:cover;
  flex-grow: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid blueviolet;
  border-radius: 1%;
}
.conversation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}
.conversation-bar img {
  width: 48px;
}
.conversation-bar>div {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.name-date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5%;
}
.header {
  background-color: #fff;
  border-bottom: 1px solid;
  flex-grow: 1;
}
.bubble {
  flex-grow: 20;
}
.typing {
  background-color: #fff;
  flex-grow: 1;
  border-top: 1px solid;
}